@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-base);
  scroll-behavior: smooth;
}


:root{
  --bg-color: #1E1F2A;
  --light-color: #CDFFF3;
  --green-color: #2BA386;
  --low-color: #C4C4C4;

  --font-base: 'Inter';
}